.custom-brand {
    color: black;
    margin-right: auto; /* Move the brand to the left */
    display: flex; /* Flexbox to align logo and text */
    align-items: center; /* Vertically center align logo and text */
  }
  
  .logo {
    height: 40px; /* Adjust the height of the logo */
    margin-right: 10px; /* Space between logo and text */
  }
  
  .custom-link {
    color: white; /* Set text color to white */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  .custom-link:hover {
    color: #EE3E38; /* Change text color on hover */
    background-color: rgba(255, 255, 255, 0.2); /* Optional: Add a background color on hover */
    border-radius: 5px; /* Curve the border on hover */
    padding: 5px 10px; /* Adjust padding to ensure the background color is visible */
  }
  
  .navbar-nav {
    margin-left: auto; /* Move the nav items to the right */
  }
  
  .navbar {
    /* Removed border-radius */
    padding: 10px; /* Increase padding to make the Navbar thicker */
  }
  